*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 128);
}

.btnSend{
    background-color: rgb(103, 103, 224);
    color: aliceblue;
    width: 130px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid rgba(26, 38, 204, 0.19);
}

input{
    width: 130px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid rgba(55, 54, 54, 0.191);
    padding: 0 10px;
}

ul{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}