* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

body p{
  text-align: center;
}

input, button{
  width: 100%;
  padding: 8px 20px;
  border-radius: 10px;
}

button{
  background-color: rgb(55, 133, 182);
  color: aliceblue;
}
button:hover, button:focus{
  background-color: rgb(36, 101, 142);
  color: aliceblue;
}